.brands
	margin-bottom: 66px

.brands:after
	content: ""
	display: table
	width: 100%
	clear: both

.brands__title
	padding: 25px
	margin-bottom: 20px
	background-color: #f7f3ec
	font-family: "Cuprum", "Arial", sans-serif
	font-size: 30px
	color: #32425c
	text-transform: uppercase

.brands__title:after
	content: ""
	display: table
	width: 100%
	clear: both	

.brands__title p
	margin-right: 272px
	float: left

.brands__title__btn
	display: block
	padding: 13px 66px 12px 70px
	border-radius: 5px
	background-color: #ee3643
	font-family: "Cuprum", "Arial", sans-serif
	font-size: 14px
	color: white
	text-align: center
	text-transform: uppercase
	text-decoration: none
	float: left

.brands__title__btn:hover
	background-color: #ca2c37

.brands__title__btn:active
	background-color: #ba2732

.brands__item
	width: calc(220px - 2px)
	height: calc(145px - 2px)
	border: 1px solid #e5e5e5
	margin-right: 20px
	margin-bottom: 20px
	text-align: center
	line-height: 143px
	float: left

.brands__item:hover
	box-shadow: 0 0 50px #abafb8

.brands__item:nth-child(4n+4)
	margin-right: 0

.brands__item img
	vertical-align: middle